<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's portfolio site</title>
        <meta charset="UTF-8"/>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header"></header>
        <main>
            <div class="glowing _container fg d-flex flex-column justify-content-evenly container container-fluid">
                <h2 class="text-center text-decoration-underline">WIP</h2>
                <p class="text-center">TO DO, Make Contact form that submits to mongo DB</p>
        </main>
    </body>
</html>