<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Contact Jeffrey</title>
        <meta charset="UTF-8"/>
        
        <link href="/public/styles/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header"></header>
        <main>
            <div class=" _container fg d-flex flex-column justify-content-evenly container container-fluid mx-auto">
                <h2 class="text-center text-decoration-underline">WIP</h2>
                <p class="text-center">TO DO, Make Contact form</p>
            </div>
        </main>
    </body>
</html>