<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's portfolio site</title>
        <meta charset="UTF-8"/>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header"></header>
        <main>
            <div class="glowing _container fg d-flex flex-column justify-content-evenly container container-fluid">
                <h2 class="text-center text-decoration-underline">Welcome to my portfolio website</h2>
                <p class="text-center w-50 mx-auto">
                    My name is Jeffrey Morrison MacMullin. I am a self taught web developer who is serious about his work.
                    My aim is to be a successful freelance developer but I am also interested in finding full time employment so I can gain some real world experience and build my resume.
                    This website serves as a way to showcase my abilities as a web developer. I have been doing this for a year now and spent hundreds of hours learning, and practicing my craft in the pursuit of my goal. 
                    I still have alot to learn and I still consider myself a novice at programming, but I'm eager to take on any project within my capabilities.
                    This site is a work in progress, and will constantly be subject to change. Here you will find microservices and scripts that showcase my abilities. If you'd like to contact me for an inquiry, you are welcome to do so.
                </p>
            </div>
        </main>
    </body>
</html>