<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's portfolio</title>
        <meta charset="UTF-8"/>
        <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    </head>
    <body>
        <header id="header"></header>
        <main>
            <div class="welcome_container">
                <div class="_container about_container fg d-flex flex-column justify-content-evenly">
                    <h2 class="text-decoration-underline">About Me</h2>
                    <p class="w-50 mx-auto">
                        My name is Jeffrey Morrison MacMullin and I am a self taught programmer. 
                        This website is meant to serve as an example of my abilities as a web developer.
                        I have a page with some <a href="/micros">Microservices</a>.
                        Some personal projects I made can be found <a href="/projects.html">here</a>. 
                        If you'd like to <a href="/contact">contact me</a>, I'd be glad to hear from you.
                    </p>
                </div>
                <div class="_container featured_container container container-fluid">
                    <h2 class="text-center text-decoration-underline">Featured Projects</h2>
                    <div class="featured-project fg" id="fileMetaData-Project">
                        <a href="/micros/metadata" class="text-decoration-none"><h4 class="text-center featured-link">File Meta Data Microservice</h4></a>
                    </div>
                    <div class="featured-project fg" id="fileMetaData-Project">
                        <a href="/micros/metadata" class="text-decoration-none"><h4 class="text-center featured-link">Json Time Stamp Microservice</h4></a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>