<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's portfolio site</title>
        <meta charset="UTF-8"/>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header">
        </header>
        <main>

            <div class="glowing fg _container container container-fluid">
                <h2>WIP: Time Stamp</h2>
            </div>

            <div class="glowing fg _container container container-fluid">
                <h2>WIP: File Meta Data</h2>
            </div>

        </main>
    </body>
</html>