<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's microservices</title>
        <meta charset="UTF-8"/>
        <link href="/public/styles/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header">
        </header>
        <main>

            <div class="fg _container container container-fluid">
                <h2>WIP: Time Stamp</h2>
                <iframe src="/micros/timestamp" class="w-50 mx-auto"></iframe>
            </div>

            <div class="fg _container container container-fluid">
                <h2>WIP: File Meta Data</h2>
            </div>

        </main>
    </body>
</html>