<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's projects</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
        <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header id="header">
        </header>
        <main>
            <div class=" _container fg d-flex flex-column justify-content-evenly container container-fluid mx-auto">
                
            </div>
        </main>
    </body>
</html>