@import url('./bootstrap.css');


:root
{
color-scheme: light dark;
--bg-color: rgb(50, 10, 10);
--fg-color: rgb(50, 10, 10);
--link-color: rgb(100, 30, 30);
}

*
{
    font-family: 'Times New Roman', Times, serif;
    color: light-dark(black, white);
}

body 
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: light-dark(#FFF, #000);
    animation: fadeIn 2s;
}

.fg
{
    background-color: light-dark(#FFF, var(--fg-color));
}

.header
{
    padding: 10px 0;
    margin: 0px auto 1.2em;
    border-bottom: 1px solid;
    border-color: light-dark(#000, var(--fg-color));
}

.main
{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome_container
{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 15px auto;
}

._container
{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(30, 0, 0);
}
.about_container
{
    text-align: center;
    width: 50%;
}

.featured_container
{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.featured-project
{
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px auto;
    padding: 5px;
    width: 85%;
}

.header-nav-anchor,
.featured-link
{
    width: 100%;
    height: 100%;
}

.featured-link:hover,
.header-nav-anchor:hover
{
    cursor: pointer;
    background-color: light-dark(rgb(127,127,127), var(--link-color));
}

a
{
    color: light-dark(#000, #FFF);
}