@import url('./bootstrap.css');
@import url('/public/FontAwesome/css/all.css');

:root
{
color-scheme: light dark;
--bg-color: light-dark(#FFF, #000);
--fg-color: light-dark(rgb(20, 20, 100), rgb(50,10,10));
--link-color: rgb(100, 30, 30);
}

*
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body 
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
}

.fg
{
    background-color: var(--fg-color);
}

/*Header Navigation Bar Styling*/

header
{
    margin: 0px auto 1.2em;
    border-bottom: 1px solid;
    border-color: var(--fg-color);
    display: flex;
    justify-content: space-between;
}

.title-container
{
    background-color: var(--fg-color);
    width: fit-content;
    padding-right: 50px;
    height: 100%;
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}

.header-text
{
    text-transform: uppercase;
    margin: 10px;
}

.header-text:hover
{
    cursor: default;
}
.navigation-bar
{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.navigation-list
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    height: 100%;
    margin: auto 15px
}

.header-nav-link
{
    font-size: 20px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fg-color);
    width: 100px;
    height: 32px;
}
.header-nav-link > i
{
    margin: 10px;
}
@keyframes grow {
    from {
        width: 100px;
    }
    to {
        width: 140px;
    }
}
.header-nav-link:hover
{
    animation: grow .5s;
    width: 140px;
    box-shadow: 0 -10px 10px -10px var(--fg-color);
}

/*Styling For the Main Section of the page*/
main
{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.welcome_container
{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 15px auto;
}

._container
{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(30, 0, 0);
}

.about_container
{
    text-align: center;
    width: 50%;
}

.featured_container
{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.featured-project
{
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px auto;
    padding: 5px;
    width: 85%;
}


.featured-link
{
    width: 100%;
    height: 100%;
}

.featured-link:hover
:hover
{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid;
}

a
{
    color: white;
}