<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Jeffrey's portfolio site</title>
        <meta charset="UTF-8"/>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="header fg">
            <h1 class="text-center header-text">Jeffrey Morrison MacMullin</h1>
            <nav class="navbar w-50 mx-auto row text-center text-white">
                <div class="nav-pills col-4"><a href="https://github.com/JSJm25" class="text-decoration-none text-white">GitHub</a></div>
                <div class="nav-pills col-4"><a href="/micros" class="text-decoration-none text-white">Microservices</a></div>
                <div class="nav-pills col-4"><a href="/" class="text-decoration-none text-white">Home</a></div>
                <div class="nav-pills col-4"><a href="/contact" class="text-decoration-none text-white">Contact Me</a></div>
            </nav>
        </header>
    </body>
</html>