<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jeffrey's portfolio site</title>
    <meta charset="UTF-8" />
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header" id="header">

        <div class="title-container">
            <h3 class="header-text" id="page-title">Jeffrey</h3>
        </div>

        <nav class="text-center navigation-bar">
            <ul class="navigation-list">

                <li id="home">
                    <a href="/" class="text-decoration-none header-nav-link" id="homeLink"><i class="fa-solid fa-house"></i></a>
                </li>

                <li id="projects">
                    <a href="/projects" class="text-decoration-none header-nav-link" id="projectsLink"><i class="fa-solid fa-code"></i></a>
                </li>

                <li class="" id="micros">
                    <a href="/micros" class="text-decoration-none header-nav-link" id="microsLink"><i class="fa-solid fa-microchip"></i></a>
                </li>

                <li id="contact">
                    <a href="/contact" class="text-decoration-none header-nav-link" id="contactLink"><i class="fa-solid fa-envelope"></i></a>
                </li>

                <li>
                    <a href="https://github.com/JSJm25" class="text-decoration-none header-nav-link" id="ghLink">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <script src="/public/scripts/header.js"></script>
    </header>
</body>

</html>