@import url('./bootstrap.css');


:root
{
--bg-color: linear-gradient(25deg, rgb(50, 10, 10) 5%, rgb(25,0,0) 10%, black 40%);
--fg-color: rgba(75, 20, 20, .30);
}

*
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body 
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    background-size: cover;
}

.fg
{
    background-color: var(--fg-color);
}

@keyframes glow 
{
    from {
        box-shadow: 0 0 5px rgb(127, 0, 0);
    }
    to {
        box-shadow: 0 0 10px rgb(155, 20, 20)
    }
}

.header
{
    border-bottom: 1px solid rgb(127, 0, 0);
    box-shadow: 0px 0px 10px rgb(127, 0, 0);
    border-radius: 0 0 0 10%;
    animation: glow 2s infinite alternate;
    /*Header glowing effect styled seperately because its only supposed to be on the bottom*/
    padding: 10px 0;
    margin: 0px auto 1.2em;
}

.main
{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.glowing
{
    border: 1px solid rgb(127, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(127, 0, 0);
    animation: glow 2s infinite alternate;
}

._container
{
    margin: 15px auto;
    padding: 15px;
}