@import url('./bootstrap.css');


:root
{
--bg-color: rgb(50, 10, 10);
--fg-color: rgb(50, 10, 10);
}

*
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body 
{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    animation: fadeIn 2s;
}
.fg
{
    background-color: var(--fg-color);
}

.header
{
    padding: 10px 0;
    margin: 0px auto 1.2em;
}

.main
{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome_container
{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 15px auto;
}
._container
{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}
.about_container
{
    text-align: center;
    width: 50%;
}
.featured_container
{
    width: 30%;
    display: flex;
    flex-direction: column;
}